# PyTorch GPU Source (CUDA 11.8)
--extra-index-url https://download.pytorch.org/whl/cu118

# PyTorch (CUDA Version)
torch==2.1.2+cu118

# TensorFlow (Windows Native GPU Last Support)
tensorflow==2.10.0

# Numpy (Compatibility)
numpy==1.23.5

# --- Reinforcement Learning ---
stable-baselines3[extra]>=2.2.1
gymnasium>=0.29.1
shimmy>=1.3.0

# --- Data Processing & Analysis ---
pandas>=2.0.0
scikit-learn>=1.3.0
matplotlib>=3.8.0
ta>=0.11.0
ccxt>=4.1.0
pyarrow>=14.0.0

# --- Tools & Optimization ---
tensorboard>=2.10.0
xgboost>=2.0.0
joblib>=1.3.0
optuna>=3.5.0
openpyxl>=3.1.0